/* Defaulting Page */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 25px;
}

/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}

.highScoresLink {
    color: palevioletred;
    border-radius: 5px;
    padding: 5px;
}

.highScoresLink:hover {
    color: white;
    background-color: pink;
}

.timerWrapper {
    display: flex;
}

.timerWrapper p {
    margin-left: 6px;
    font-weight: bold;
}

.countDown {
    min-width: 30px;
    text-align: center;
}

/* Main Section Styles (Quiz Area) */

.quizWrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quizWrapper h1 {
    margin-bottom: 30px;
}

.quizWrapper p {
    margin-bottom: 30px;
}

/* - Answer Options */

.choices {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.choices li {
    background-color: purple;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.4)

}

.choices li:hover {
    background-color: palevioletred;
}

/* Main Section Style (Last Page with Form) */

.quizWrapper form {
    display: flex;
    align-items: center;
}

.quizWrapper form label {
    margin: 0 5px;
}

.quizWrapper form input {
    margin: 0 10px;
    min-height: 35px;
    min-width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 1px 5px 1px rgba( 0,0,0, .2);
}

.quizWrapper form button {
    margin: 0 10px;
    min-height: 35px;
    min-width: 75px;
    border-radius: 5px;
    color: white;
    background-color: purple;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 5px 1px rgba( 0,0,0, .3);
}

/* Footer Styling */

footer {
    text-align: center;
    font-size: 2rem;
    color: rgba( 0,0,0, .5);
}

footer a {
    font-size: .9rem;
}

/* High Scores.HTML */

.highScoresBtnWrapper {
    display: flex;
    margin: 10px;
}

.highScores {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    background-color: lightblue;
}

.highScoresBtnWrapper button {
    background-color: purple;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.4);
    border: none;
    margin: 5px 10px;
}

.highScoresBtnWrapper button:hover {
    background-color: pink;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    
    /* Header Changes */

    header {
        padding: 0;
        margin: 0 20px;
        margin-top: 20px;
    }

    /* Main Section (Quiz Area) Changes */

    .quizWrapper {
        padding: 10px;
    }

    .quizWrapper h1 {
        margin-bottom: 10px;
        font-size: 3rem;
    }

    .quizWrapper p {
        margin: 0;
        font-size: 1.5rem;
    }

    .choices {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .choices li {
        margin: 5px;
    }

    /* Main Section (Form) Changes */

    .quizWrapper form {
        flex-direction: column;
        margin: 25px 0;
    }

    .quizWrapper form label {
        margin: 10px 0;
    }

    .quizWrapper form input {
        margin: 10px 0;
    }

    .quizWrapper form button {
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {

    /* Footer Changes */

    footer {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}